* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;    /* (сброс стилей и отступов) */
    padding: 0;    /* (сброс стилей и отступов) */
    transition: .3s all ease;    /* (плавные выделения hover) */
    /* box-sizing: border-box; */
    /* ширина, которую мы ставим, относится к элементу полностью, включая border и padding) */ 
}
a {
    text-decoration: none;    /* (убирает подчеркивание ссылок) */
}
body{
    /* width: 1200px; */
    background: black;
    margin:0 auto;
}

/* ================================black-line================================= */

.black-line{
    background: black;
    line-height: 20px;
} 
.social-buttons{
   text-align: center;
}

.social-buttons li {
    /* background: green; */
    display: inline-block;
    
}
.social-buttons img {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}



/* ===============================big-img=================================== */
.big-img{
    background:url(../img/zadnik.png);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.big-img img{
    width: 100%;
    height: 820px;
}
.indigo-fone{
    transition: 2s all ease;
    background:url(../img/indigo-fone2.png);
    position: absolute;
    opacity: 0;
    top: 0%;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.indigo-fone h2{
    /* transition: 1s all ease; */
    /* opacity: 0; */
    position: absolute;
    top: 10%;
    color: #fff;
    font-size: 26px;
    border-top-width: 1px; /*    Толщина линии внизу */
    border-top-style: solid; /*    Стиль линии внизу */
    border-top-color: #fff; /*    Цвет линии внизу */
    border-bottom-width: 1px; /*    Толщина линии внизу */
    border-bottom-style: solid; /*    Стиль линии внизу */
    border-bottom-color: #fff; /*    Цвет линии внизу */
}

/* ----------------------------left side timeouthell-------------------------- */
.triangle1{
    transition: 3s all ease;
    position: absolute;
    opacity: 0;
    left: -100%;
    top: 8%;
    width: 560px;
    height: 160px;
    background: url(../img/triangle1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.triangle1 h2{
    transition: 2s all ease;
    /* opacity: 0; */
    position: absolute;
    left: 60px;
    top: 50px;
    color: black;
    font-size: 26px;
}
.line1 {
    transition: 2s all ease; 
    position: absolute;
    width: 1px;
    height: 1px;
    background: #fff;
    /* transform: rotate(0deg); */
    top: 70%;
    left: 50%;
    opacity = 0;
}
.line2 {
    transition: 2s all ease; 
    position: absolute;
    width: 1px;
    height: 1px;
    background: #fff;
    /*transform: rotate(90deg);*/
    top: 10vh;
    left: 5%;
}
.dot-portfolio {
    transition: 2s all ease;   
    width: 1px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 150px;
    left: 10%;
    border-radius: 50%;
}

.dot-portfolio a {
    transition: .2s all ease;
    position: absolute;
    left: 20px;
    color: green;
    opacity: 0;
}
.dot-price{
    transition: 2s all ease;   
    width: 1px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 250px;
    left: 10%;
    border-radius: 50%;
}
.dot-price a {
    transition: .2s all ease;
    position: absolute;
    left: 20px;
    color: yellow;
    opacity: 0;
}
.dot-contacts{
    transition: 2s all ease;   
    width: 1px;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 350px;
    left: 10%;
    border-radius: 50%;
}
.dot-contacts a{
    transition: .2s all ease;
    position: absolute;
    left: 20px;
    color: blue;
    opacity: 0;
}
/* --------------------------------right side timeouthell---------------------- */
.triangle2{
    transition: 2s all ease;
    position: absolute;
    opacity: 0;
    right: -100%;
    top: -2%;
    /* width: 500px; */
    /* height: 340px; */
    /* background: url(../img/triangle2.png); */
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(0deg);
}
.triangle2 img {
    height: 250px;
    width: 450px;
}

.triangle2 h2{
    transition: 2s all ease;  
    opacity: 0;
    position: absolute;
    left: 60px;
    top: 50px;
    color: #fff;
    font-size: 26px;
}
.line3 {
    transition: 2s all ease; 
    position: absolute;
    width: 1px;
    height: 1px;
    background: #fff;
    /* transform: rotate(0deg); */
    top: 70%;
    right: 50%;
    opacity = 0;
}
.line4 {
    transition: 2s all ease; 
    position: absolute;
    width: 1px;
    height: 1px;
    background: #fff;
    /*transform: rotate(90deg);*/
    top: 10vh;
    right: 5%;
}

/* =================================first-flex-line================================ */
.first-flex-line{
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

/* =================================second-flex-line============================ */
.second-flex-line{
    position: absolute;
    top: 40%;
    left: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

/* =====================================reviews================================ */
.reviews{
    position: absolute;
    top: 60%;
    right: 10%;
    color: white;
}

/* =====================================pentagon============================== */
.pentagon{
    position: absolute;
    bottom: 20%;
    right: 10%;
}
.pentagon img{
    height: 200px;
    width: 200px;
}

/* ===================================third-btn-line========================== */
.third-btn-line{
    position: absolute;
    bottom: 20%;
    left: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
/* =====================================footer=============================== */
.footer-line{
    background: black;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.phone-mail{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.phone{
    margin-right: 20px;
}
.mail{
   margin-left: 20px;
}